{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Weather</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<form method="post">
  {% csrf_token %}
  <h2 class="mb-4 pb-2 fw-normal">Explore Weathers around the Globe</h2>
  <input type="text" name="city1" placeholder="Enter City 1">
  <input type="text" name="city2" placeholder="Enter City 2">
  <button type="submit">Check</button>
</form>

<div class="comparison-container">
  {% if weather_data1 %}
    <div class="city-container">
      {% include 'city_weather.html' with weather_data=weather_data1 daily_forecasts=daily_forecasts1 %}
    </div>
  {% endif %}
  {% if weather_data2 %}
    <div class="city-container">
      {% include 'city_weather.html' with weather_data=weather_data2 daily_forecasts=daily_forecasts2 %}
    </div>
  {% endif %}
</div>

</body>
</html>
